html {
    box-sizing: border-box;

}
body {
 padding: 0%;  
 margin: 0%; 
 display: flex;
 justify-content: center;
}
#container > * {
    padding:20px;

}
h1,h2{ 
    text-transform: uppercase;

}


#container {
    color: white;
    display:flex;
    flex-wrap: wrap;
    max-width:1000px ;

}
header{
background-color: blueviolet;
order: 1;
flex:1 0  100%;
}
main{
background-color: burlywood;
order:3;
flex: 1 1 500px;

}
nav{
background-color: cadetblue;
order:2;
flex: 1 0 200px;
}
aside{
background-color: crimson;
order:4;
flex:1 0 200px;

}
footer{
background-color: darkolivegreen;
order: 5;
flex: 1 0 100%;
}